# Environment & Secrets
.env
.env.local
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# OS & Editor
.DS_Store
.vscode/
.idea/

# Node & Testing
node_modules/
public/screenshot_*.png

